.wandavision {
    font-family: Armstrong;
    color: rgb(149, 14, 14);
    padding: 4%;
}

.episode-screen {
    width: 36%;
    position: absolute;
    left: 570px;
    z-index: 1;
    top: 132px;
    opacity: 0%;
}