body {
  background-color: #daafda;
  min-height: 110vh;
}

h1 {
  color: white;
  font-family: blocus;
  font-weight: 100;
  text-align: center;
  margin-top: 5%;
  font-size: 40pt;
  stroke-width: 10px;
}

span {
  background-color: #d162d5;
  border-radius: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

h3 {
  font-family: antique-olive, sans-serif;
  text-align: center;
  color: #fff;
    font-weight: 100;
}

p {
  font-family: antique-olive, sans-serif;
  text-align: center;
  color: #fff;
  position: relative;
  top: 170px;
}

a {
  background-color: #b685f4;
  color: white;
  text-decoration: none;
  padding: 20%;
  font-family: antique-olive, sans-serif;
  position: relative;
  left: 26%;
  text-align: center;
}

a:hover {
  background-color: #6bc4fc;
}

iframe {
  position: absolute;
  left: 34.5%;
  top: 80%;
}

@font-face {
  font-family: blocus;
  src: url(blocuswebfont.woff);
  font-display: swap;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 700px;
    grid-gap:20px;
    position: absolute;
    left: 22.8%;
}