/* @media only screen and (min-width : 1224px) { */

body {
    background-image: linear-gradient(#FFB8C1, #EAD8C7);
    background-size: cover;
   
}

.composition {
      
    background-image: url(illustrations/background.png);
    background-size: cover;
    position: absolute;
    top: 0%;
    left: -0.6%;
    width: 100.2%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.canvas {
    position: absolute;
    width: 27%;
    left: 24%;
    top: 13%;
    -webkit-user-select: none;
}

canvas {
    position: absolute;
    left: 29.6%;
    bottom: 18.4%;
    margin: 50px auto;
    /* border: red 1px solid; */
    display: block;
    transform: perspective(2000px) rotateY(30deg) rotateZ(-10.5deg);
    z-index: 1;    
        cursor: url("illustrations/brush.png"), auto;
}

/* css width messes up pen stroke position, do it in html */

h1 {
    background: #7F7FD5;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#stationery {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%; 
    position: relative;
    height: 100%;
}

#stationery * {
    margin-bottom: 6px;
}

.paint-bucket input {
    position: relative;
    top: 56%;
    left:21.7%;
    width: 4.7%;
    height: 45%;
    z-index: 1;
    cursor: url("illustrations/brush.png"), auto;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

#stationery button {
    background-color: #1565c0;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
    z-index: 2;
    position: relative;
    left: 615px;
    top: 48px;
    transform: perspective(2000px) rotateY(30deg) rotateZ(-13deg);
    -webkit-user-select: none;
    width: 100px;
}

.paint {
    position: relative;
    width: 8%;
    left: 28.5%;
    top: 75%;
    z-index: 2;
    pointer-events: none;
}

.musicbox {
    position: relative;
    width: 20%;
    left: 47%;
    top: 42%;
    user-select: none;
    opacity: 1;
    
}

.musicgif {
    position: absolute;
    width: 32%;
    left: 49%;
    top: 34%;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}

.musicopen {
    position: absolute;
    width: 32%;
    left: 49%;
    top: 34%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
}

.closedmusicbox {
    position: absolute;
    width: 32%;
    left: 49%;
    top: 34%;
    z-index: 5;
    pointer-events: none;
}

.candle {
    position: absolute;
    width: 10%;
    left: 10%;
    top: 74%;
    z-index: 5;
}

.teacup {
    position: absolute;
    width: 10%;
    left: 78%;
    top: 76%;
    z-index: 6;
}

audio {
    z-index: 5;
    position: relative;
    left: 100px;
    display: none;
}

.musicbox {
    cursor:pointer;
    z-index: 3;
    opacity: 0;
}
/* } */