body {
    background-image: url(illustrations/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #13100b;
}

.tv {
    position: absolute;
    width: 1412px;
    height: 844px;
    right: 0px;
    top: 20px;
}

.tape {
    display: inline-block;
    position: absolute;
    width: 1512px;
    height: 945px;
    left: -30px;
    top: 10px;
}

.episodes {
    position: absolute;
    width: 320px;
    height: 90px;
    left: 172px;
    top: 202px;
    z-index: 1;
    transition: 1s;
}

.episodes:hover {
left: 208px;
top: 197px;
    transition: 1s;
        filter: brightness(130%);
}

.characters {
    position: absolute;
    width: 320px;
    height: 94px;
    left: 173px;
    top: 260px;
    z-index: 1;
    transition: 1s;
}

.characters:hover {
    left: 200px;
    top: 255px;
    z-index: 1;
    transition: 1s;
    filter: brightness(130%);
}

.music {
position: absolute;
width: 324px;
height: 94px;
left: 170px;
top: 322px;
    z-index: 1;
    transition: 1s;
}

.music:hover {
    left: 199px;
    top: 320px;
    transition: 1s;
        filter: brightness(130%);
}

.locations {
    position: absolute;
    width: 323px;
    height: 95px;
    left: 171px;
    top: 378px;
        z-index: 1;
        transition: 1s;
}

.locations:hover {
    left: 201px;
    top: 378px;
    filter: brightness(130%);
}

.costumes {
    position: absolute;
    width: 320px;
    height: 94px;
    left: 173px;
    top: 438px;
    z-index: 1;
    transition: 1s;
}

.costumes:hover {
    left: 203px;
    top: 439px;
    transition: 1s;
    filter: brightness(130%);
}

.iconic-moments {
    position: absolute;
    width: 321px;
    height: 94px;
    left: 172px;
    top: 499px;
    z-index: 1;
    transition: 1s;
}

.iconic-moments:hover {
    left: 203px;
    top: 499px;
    transition: 1s;
        filter: brightness(130%);
}

.magic {
    position: absolute;
    width: 323px;
    height: 95px;
    left: 172px;
    top: 555px;
    z-index: 1;
    transition: 1s;
    
}

.magic:hover {
    left: 203px;
    top: 555px;
    transition: 1s;
        filter: brightness(130%);
}

.trailers-posters {
    position: absolute;
    width: 321px;
    height: 94px;
    left: 174px;
    top: 616px;
    z-index: 2;
    transition: 1s;
}

.trailers-posters:hover {
    left: 205px;
    top: 617px;
        transition: 1s;
        filter: brightness(130%);
}

.easter-eggs {
    position: absolute;
    width: 321px;
    height: 94px;
    left: 176px;
    top: 680px;
    z-index: 1;
    transition: 1s;
}

.easter-eggs:hover {
    left: 205px;
    top: 685px;
    transition: 1s;
    filter: brightness(130%);
}

.inspiration {
    position: absolute;
    width: 322px;
    height: 94px;
    left: 174px;
    top: 742px;
    z-index: 0;
    transition: 1s;
}

.inspiration:hover {
    left: 205px;
    top: 750px;
    transition: 1s;
    filter: brightness(130%);
}

.shelf-exterior {
    position: absolute;
    width: 171px;
    height: 705px;
    left: 32px;
    top: 172px;
    z-index: 3;
}

.shelf-interior {
    position: absolute;
    width: 1512px;
    height: 945px;
    left: 0px;
    top: 0px;
}

.shelf-bg {
    position: absolute;
    width: 1512px;
    height: 945px;
    left: 0px;
    top: 0px;
}

.shelf {
    position: absolute;
    top: -40px;
}

h3 {
    font-family: armstrong;
    color: white;
    position:relative;
    top: 35rem;
    left: 40rem;
    transform: rotate3d(0, 1, 0.04, 30deg);

}