#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  opacity: 100%;
  z-index: -1;
}

body {
  background-color: black;
}

.spaceship {
  max-width: 102%;
  min-height: 100%;
  z-index: 1;
  margin: -9px;
}
