@font-face {
    font-family: 'VCR OSD Mono';
    font-style: normal;
    font-weight: normal;
    src: local('VCR OSD Mono'), url('VCR_OSD_MONO_1.001[1].woff') format('woff');
}

body {
    background-color: #13100b;
}

.set-container {
    position: absolute;
    top: -17%;
    left: 0%;
    width: 100%;
    height: 130%;
    background-image: url(illustrations/background.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.tv {
    position: relative;
    width: 88%;
    left: 8%;
    top: 90px;
    z-index: 2;
}

.screen {
    position: absolute;
    width: 88%;
    left: 8%;
    bottom: 65px;
    z-index: 0;
}

.tapes {
    position: absolute;
    top: -125px;
    z-index: 3;
}

.episodes {
    position: absolute;
    width: 320px;
    height: 90px;
    left: 172px;
    top: 202px;
    transition: 1s;
}

.episodes:hover {
    left: 208px;
    top: 200px;
    transition: 1s;
    cursor: pointer;
}

.characters {
    position: absolute;
    width: 320px;
    height: 94px;
    left: 173px;
    top: 260px;
    transition: 1s;
}

.characters:hover {
    transition: 1s;
    cursor: pointer;
}

.music {
position: absolute;
width: 324px;
height: 94px;
left: 170px;
top: 322px;
    transition: 1s;
}

.music:hover {
    transition: 1s;
    cursor: pointer;
}

.locations {
    position: absolute;
    width: 323px;
    height: 95px;
    left: 171px;
    top: 378px;
        transition: 1s;
}

.locations:hover {
transition: 1s;
cursor: pointer;
}

.costumes {
    position: absolute;
    width: 320px;
    height: 94px;
    left: 173px;
    top: 438px;
    transition: 1s;
}

.costumes:hover {
    transition: 1s;
    cursor: pointer;
}

.iconic-moments {
    position: absolute;
    width: 321px;
    height: 94px;
    left: 172px;
    top: 499px;
    transition: 1s;
}

.iconic-moments:hover {
    transition: 1s;
    cursor: pointer;
}

.magic {
    position: absolute;
    width: 323px;
    height: 95px;
    left: 172px;
    top: 555px;
    transition: 1s;
    
}

.magic:hover {
    transition: 1s;
        cursor: pointer;
}

.trailers-posters {
    position: absolute;
    width: 321px;
    height: 94px;
    left: 174px;
    top: 616px;
    transition: 1s;
}

.trailers-posters:hover {
        transition: 1s;
        cursor: pointer;
}

.easter-eggs {
    position: absolute;
    width: 321px;
    height: 94px;
    left: 176px;
    top: 680px;
    transition: 1s;
}

.easter-eggs:hover {
    transition: 1s;
            cursor: pointer;
}

.inspiration {
    position: absolute;
    width: 322px;
    height: 94px;
    left: 174px;
    top: 742px;
    transition: 1s;
}

.inspiration:hover {
    transition: 1s;
    cursor: pointer;
}

.shelf-exterior {
    position: absolute;
    width: 171px;
    height: 705px;
    left: 32px;
    top: 172px;
    z-index: 4;
}

.shelf-interior {
    position: absolute;
    width: 1512px;
    height: 945px;
    left: 0px;
    top: 0px;
}

.shelf-bg {
    position: absolute;
    width: 1512px;
    height: 945px;
    left: 0px;
    top: 0px;
}

.shelf {
    position: absolute;
    top: -130px;
}

h3 {
    font-family: VCR OSD Mono;
    color: white;
    position:relative;
    top: 29.5rem;
    left: 37rem;
    z-index: 2;
    font-size: 15px;
    transform: rotate3d(0, 2, 0.04, 30deg);

}

.wandavision {
    position: relative;
    width: 550px;
    height: 380px;
    top: 130px;
    left: 41%;
    transform: rotate3d(0, 4, 0, 30deg);
    z-index: 1;
}

.wandavision video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in opacity;
}

#buttonfifties,
#buttonsixties,
#buttonseventies,
#buttoneighties,
#buttonnineties,
#buttonnoughties,
#buttontens,
#buttonpresent {
    position: relative;
    left: 600px;
    cursor: pointer;
    width: 5%;
}

#buttonfifties {
    top: 555px;

}

#buttonsixties {
    top: 558px;
}

#buttonseventies {
    top: 561px;
}

#buttoneighties {
    top: 563px;
}

#buttonnineties {
    top: 566px;
}

#buttonnoughties {
    top: 568px;
}

#buttontens {
    top: 570px;
}

#buttonpresent {
    top: 572px;
}

.buttons {
    position: absolute;
    top: 5px;
    z-index: 4;
}