@font-face {
  font-family: digital-numbers;
  src: url(DigitalNumbers-Regular.woff);
  font-display: swap;
}

body {
  background-color: #b685f4;
}

.grid-msg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20% 5%;
  overflow: scroll;
}

.msg {
  background-color: #bbffb5;
  border-radius: 25px;
  font-family: "stick no bills";
  width: 200px;
  height: 55px;
  padding: 4%;
  font-size: 22px;
  font-weight: 200;
  margin: 3%;
}
.two,
.four,
.six,
.eight,
.eleven,
.thirteen,
.fifteen {
  position: relative;
  background-color: #6bc4fc;
  color: white;
}

.two {
  width: 220px;
  right: -20%;
}

.four {
  right: -40%;
  width: 150px;
  height: 26px;
}

.six {
  right: -25%;
  width: 200px;
  height: 26px;
}

.eight {
  right: -30%;
  width: 180px;
  height: 26px;
}

.eleven {
  right: -22%;
  width: 210px;
  height: 28px;
}

.thirteen {
  right: -20%;
  width: 215px;
  height: 26px;
}

.fifteen {
  right: -25%;
  width: 200px;
  height: 55px;
}

.five {
  width: 222px;
  height: 28px;
}
.seven {
  width: 230px;
  height: 28px;
}
.nine {
  width: 240px;
}

.ten {
  width: 211px;
  height: 28px;
}
.twelve {
  width: 260px;
  height: 28px;
}
.fourteen {
  height: 28px;
}

.sixteen,
.seventeen,
.eighteen {
  height: 28px;
  width: 34px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.break {
  flex-basis: 50%;
  height: 0;
  width: 0;
  opacity: 0;
}

.circle-one {
  position: absolute;
  width: 264px;
  height: 264px;
  z-index: -1;
  border-radius: 100%;
  background-color: #d162d5;
  top: 15px;
  left: -40px;
}

.circle-one {
  position: fixed;
  width: 264px;
  height: 264px;
  z-index: -1;
  border-radius: 100%;
  background-color: #d162d5;
  left: -40px;
  animation-name: circleOne;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#circle-two {
  position: fixed;
  background-color: #d3c3ff;
  width: 454.89px;
  height: 162.97px;
  border-radius: 100%;
  transform: rotate(154deg);
  z-index: -1;
  top: 50px;
  mix-blend-mode: multiply;
  left: 55px;
}

#circle-three {
  position: fixed;
  background-color: #d3c3ff;
  width: 390px;
  height: 225px;
  border-radius: 100%;
  z-index: -1;
  top: 333px;
  mix-blend-mode: multiply;
  left: 55px;
}

#circle-four {
  position: fixed;
  background-color: #d162d5;
  width: 140px;
  height: 343px;
  border-radius: 100%;
  z-index: -2;
  top: 430px;
  left: -20px;
}

#circle-five {
  position: fixed;
  background-color: #d162d5;
  width: 222px;
  height: 232px;
  border-radius: 100%;
  z-index: -1;
  top: 444px;
  left: 200px;
  mix-blend-mode: soft-light;
}

.js-scroll {
  top: 30px;
}

.js-scroll.scrolled {
  top: 400px;
}

button {
  position: absolute;
  background-color: #d162d5;
  border-radius: 100%;
  padding: 5%;
  border: dotted 2px #6bc4fc;
  font-family: digital-numbers;
  color: #fff;
  left: 32%;
  bottom: -770px;
  margin-bottom: 20px;
  box-shadow: 4px 4px #6bc4fc;
}

button:active {
  background-color: #d162d5;
  color: #fff;
  border: dotted 2px #6bc4fc;
  box-shadow: 0px 0px;
  left: 33%;
  bottom: -777px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 20%;
  text-align: center;
  font-weight: 100;
  z-index: 1;
}

.name {
  font-weight: 400;
  color: #d162d5;
}

.popup .popuptext {
  visibility: hidden;
  display: inline-block;
  font-family: "stick no bills";
  width: 222px;
  height: 121px;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  color: #000;
  border-radius: 51px;
  text-align: left;
  padding: 15%;
  position: fixed;
  z-index: 1;
  bottom: 35%;
  left: 27%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "Continue";
  position: absolute;
  top: 75%;
  left: 1.3%;
  padding: 4%;
  width: 307px;
  text-align: center;
  margin-left: -5px;
  border-width: 1px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  color: #7e51ff;
  font-weight: 300;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
