@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@font-face {
  font-family: digital-numbers;
  src: url(DigitalNumbers-Regular.woff);
  font-display: swap;
}

body {
  height: 100vh;
  background-image: radial-gradient(#d3eaff, #85c5f4);
}

.screen {
  position: relative;
  width: 222px;
  height: 153px;
  background-image: linear-gradient(-15deg, #292929, #595959, #252525);
  padding: 10%;
  color: #d162d5;
  font-family: digital-numbers;
  font-size: 34px;
  border-radius: 10px;
  left: 29px;
  top: 188px;
  box-shadow: inset 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.grid-container {
  display: grid;
  grid-template-columns: 41% 12% 40%;
  grid-template-rows: 1fr 1.5fr 1fr 1.5fr 1fr;
  justify-items: center;
  align-items: center;
}

.keypad {
  position: relative;
  width: 81px;
  height: 45px;
  border-radius: 10%;
  background-color: #dcd0ff;
  text-align: center;
  top: 11rem;
  font-family: "Stick No Bills", sans-serif;
  font-size: 37px;
  font-weight: 300;
  color: #946bc9;
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25));
}

.zero {
  align-self: center;
  grid-column-start: 2;
}

.button {
  border-radius: 100%;
}

.answer {
  background-color: #93ff8a;
}

.answer:after {
  content: " \2706";
  color: #000;
  display: block;
  font-size: 70px;
  position: relative;
  top: -21px;
  mix-blend-mode: overlay;
  transform: rotate(-80deg);
}

.decline {
  background-color: #ff88cf;
}

.decline:after {
  content: " \2706";
  color: #000;
  display: block;
  font-size: 70px;
  position: relative;
  top: -22px;
  mix-blend-mode: overlay;
  transform: rotate(70deg);
}

.button_in {
  position: relative;
  background-color: #d3c3ff;
  border: solid 2px #a78bca;
  border-radius: 100%;
  left: 20%;
  top: 18%;
  width: 43px;
  height: 25px;
}

a {
  text-decoration: none;
}
